
.bordered {
  border: 22px solid transparent;
  border-image: url("../images/border/default.png") 22 round;

  background-image: url("../images/background.png");
  background-origin: border-box;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.short-button {
  background-image: url("../images/short_button_up.png");
  border: 0;
  padding: 0px;
  height: 16px;
  width: 78px;
  font-size: 12px;
}

.short-button:active {
  background-image: url("../images/short_button_down.png");
}

.text-input {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  margin: 4px;
}

html, body {
  height: 100%;
  background: black;
}

@font-face {
  font-family: Chronicon_GMS4_EF;
  src: url('../fonts/Chronicon_GMS4_EF.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  image-rendering: pixelated;
  font-family: Chronicon_GMS4_EF;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: white;
}
